*
!.gitignore

!.husky/
!.husky/*

!assets/
!assets/Stripe-wordmark-white.svg
!assets/super-simple-stripe-button.css
!assets/super-simple-stripe-button.js
!assets/super-simple-stripe-button.js.map
!assets/super-simple-stripe-button.min.js
!assets/super-simple-stripe-button.min.js.map

!src/
!src/*.ts

!tools/
!tools/*.sh

!vendor/
!vendor/**/
!vendor/**/*

!.editorconfig
!.php-cs-fixer.php
!.prettierignore
!eslint.config.mjs
!justfile
!prettier.config.js
!tsconfig.json

!composer.json
!composer.lock

!package.json
!pnpm-lock.yaml

!common.php
!config.template.php
!functions.php
!handler.php
!super-simple-stripe-button.php

!LICENSE
!README.md
